

<!--   <ul class = "list-unstyled">
    <% @cocktails.each do |cocktail| %>
      <li>
      <%= link_to cocktail.name.capitalize, cocktail_path(cocktail.id) %>
      </li>

    <% end %>

  </ul>
 -->
<div class="wrapper">
  <div class="content">
    <div class="description">
      <h2> Mister cocktails ! </h2>
  </div>
  </div>
</div>

<div class="container cards-spacing">
  <h1> <i class="fa fa-glass" aria-hidden="true"></i> All our cocktails <i class="fa fa-glass" aria-hidden="true"></i></h1>
  <div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">
    <% if cocktail.photo? %>
      <div class="card" style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo.path, width: 2000, height: 3000, crop: :limit %>');">
        <div class="card-description">
          <h2> <%= link_to cocktail.name.capitalize, cocktail_path(cocktail.id) %></h2>
        </div>
      </div>
      <% else %>
        <div class="card" style = "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path 'mojito.jpg'%>);">
        <div class="card-description">
          <h2> <%= link_to cocktail.name.capitalize, cocktail_path(cocktail.id) %></h2>
        </div>
      </div>
    <% end %>

    </div>
    <% end %>
  </div>
  <div class="btn-centered">
    <%= link_to "Add a cocktail", new_cocktail_path, class: "btn btn-success btn-green" %>
  </div>
</div>

