
<h1> The cocktail <%= @cocktail.name %></h1>

<% @cocktail.doses do |dose| %>
  <ul>
    <li> The cocktail need <%= dose.descripton %> of <%= dose.ingredient %></li>
  </ul>

<% end %>

<%= link_to "Add a dose", new_cocktail_dose(@cocktail) %>

<%= link_to "Delete a dose", dose_path(@dose) %>
