<h1>Add a dose</h1>

<ul>
  <% @dose.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= simple_form_for [@cocktail, @dose] do |d| %>
  <%= d.association :ingredient %>
  <%= d.input :description %>
  <%= d.submit 'Create a dose' %>
<% end %>
